body{
font-family: Arial;
background:#f4f6ff;
margin:0;
}

header{
background:#4a6cf7;
color:white;
text-align:center;
padding:20px;
}

.container{
width:80%;
margin:auto;
margin-top:30px;
}

.card{
background:white;
padding:20px;
margin-bottom:20px;
border-radius:10px;
box-shadow:0 2px 10px rgba(0,0,0,0.1);
}

input,select{
width:100%;
padding:10px;
margin:10px 0;
border-radius:5px;
border:1px solid #ccc;
}

button{
background:#4a6cf7;
color:white;
padding:10px 20px;
border:none;
border-radius:5px;
cursor:pointer;
}

button:hover{
background:#324edb;
}

.scholarship{
background:#eef1ff;
padding:10px;
margin-top:10px;
border-radius:5px;
}
